STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PUBLISHABLE_KEY=
SHIPPING_STANDARD=
SHIPPING_FREE=
SHIPPING_THRESHOLD=
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=
FIREBASE_SERVICE_ACCOUNT=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_TOPIC_ID=
GITHUB_WEBHOOK_SECRET=