@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

button{
  cursor: none !important;
}

.title {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  position: relative;
  font-size: 5rem; /* Adjust size as needed */
  color: transparent;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  transition: all 0.4s linear;
  opacity: 0.3;
  user-select: none;
}

.title:hover {
  opacity: 1;
  -webkit-text-fill-color: white;
  text-fill-color: white;
}

.title:hover ~ .cursor {
  transform: scale(1.4);
  mix-blend-mode: difference;
  background: white;
}

@keyframes drawPath {
  0% {
    stroke-dashoffset: 2000;
  }
  10% {
    stroke-dashoffset: 0;
  }
  90% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

.animated-path {
  animation: drawPath 10s ease-in-out infinite;
}

.animated-marker{
  animation: drawErase 10s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes drawErase {
  0% {
    clip-path: polygon(
      0% 5%,
      0% 0%,
      0% 5%,
      0% 0%,
      0% 5%,
      0% 0%,
      0% 5%,
      0% 95%,
      0% 100%,
      0% 95%,
      0% 100%,
      0% 95%,
      0% 100%,
      0% 95%
    );
  }
  10% {
    clip-path: polygon(
      0% 5%,
      15% 0%,
      35% 5%,
      50% 0%,
      70% 5%,
      85% 0%,
      100% 5%,
      100% 95%,
      85% 100%,
      70% 95%,
      50% 100%,
      35% 95%,
      15% 100%,
      0% 95%
    );
  }
  90% {
    clip-path: polygon(
      0% 5%,
      15% 0%,
      35% 5%,
      50% 0%,
      70% 5%,
      85% 0%,
      100% 5%,
      100% 95%,
      85% 100%,
      70% 95%,
      50% 100%,
      35% 95%,
      15% 100%,
      0% 95%
    );
    opacity: 1;
  }
  100% {
    clip-path: polygon(
      0% 5%,
      15% 0%,
      35% 5%,
      50% 0%,
      70% 5%,
      85% 0%,
      100% 5%,
      100% 95%,
      85% 100%,
      70% 95%,
      50% 100%,
      35% 95%,
      15% 100%,
      0% 95%
    );
    opacity: 0;
  }
}