@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  cursor: none;
} */

/* button{
  cursor: none !important;
} */

html{
  @apply scrollbar-thin scrollbar-track-black scrollbar-thumb-brown bg-black overflow-x-hidden;
}

img{
  height: 100% !important;
  width: 100% !important;
}

@keyframes drawPath {
  0% {
    stroke-dashoffset: 2000;
  }
  10% {
    stroke-dashoffset: 0;
  }
  90% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

.animated-path {
  animation: drawPath 10s ease-in-out infinite;
}

.animated-marker{
  animation: drawErase 10s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes drawErase {
  0% {
    clip-path: polygon(
      0% 5%,
      0% 0%,
      0% 5%,
      0% 0%,
      0% 5%,
      0% 0%,
      0% 5%,
      0% 95%,
      0% 100%,
      0% 95%,
      0% 100%,
      0% 95%,
      0% 100%,
      0% 95%
    );
  }
  10% {
    clip-path: polygon(
      0% 5%,
      15% 0%,
      35% 5%,
      50% 0%,
      70% 5%,
      85% 0%,
      100% 5%,
      100% 95%,
      85% 100%,
      70% 95%,
      50% 100%,
      35% 95%,
      15% 100%,
      0% 95%
    );
  }
  90% {
    clip-path: polygon(
      0% 5%,
      15% 0%,
      35% 5%,
      50% 0%,
      70% 5%,
      85% 0%,
      100% 5%,
      100% 95%,
      85% 100%,
      70% 95%,
      50% 100%,
      35% 95%,
      15% 100%,
      0% 95%
    );
    opacity: 1;
  }
  100% {
    clip-path: polygon(
      0% 5%,
      15% 0%,
      35% 5%,
      50% 0%,
      70% 5%,
      85% 0%,
      100% 5%,
      100% 95%,
      85% 100%,
      70% 95%,
      50% 100%,
      35% 95%,
      15% 100%,
      0% 95%
    );
    opacity: 0;
  }
}